.activities-content{
    max-width: 1200px;
    margin: auto;
    letter-spacing: .8px;
    color: #35311E;
    line-height: 1.6;
    padding: 0px 0px 30px;
}
.activities .activities_title{
    padding: 20px 0px 24px;
    border-bottom: 1px solid #bbb;
    height: 100px;
}
.activities .activities_title span{
    font-size: 26px;
}



.activities-content{}
.activities-content .activities_box{
    margin: 100px 0px;
}


.container{}
.container .row{}
.container .row .card{
    display: flex;
    flex-wrap: wrap;
    width: 800px;
}




.activities-content .activities_box .actv_information{
    width: 410px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* background-color: #fa0; */
    box-sizing: border-box;
    padding: 0px 20px;
}
.activities-content .activities_box .actv_information .actv_title{
    font-size: 28px;
}
.activities-content .activities_box .actv_information .actv_text{}
.activities-content .activities_box .actv_information .actv_detail{
    margin: 10px 0px;
    gap: 20px;
    display: flex;
}
.activities-content .activities_box .actv_information .actv_detail span:nth-child(2){
    font-size: 22px;
    color: red;
}

.activities-content .activities_box .actv_information .actv_tag{
    display: flex;
    flex-wrap: wrap;
}
.activities-content .activities_box .actv_information .actv_tag span{
    display: flex;
    width: 90px;
    height: 30px;
    justify-content: center;
    align-items: center;
    background-color: #CCDEA3;
    color: #5B5230;
    margin:4px 8px 4px 0px;
    padding: 4px;
    border-radius: 20px;
}
.activities-content .activities_box .actv_img{
    width: 380px;
    height: 350px;
    border-radius: 20px;
    overflow: hidden;
}
.activities-content .activities_box .actv_img img{
    width: 100%;
    vertical-align: middle;
}







