.activities-content{
    max-width: 1200px;
    margin: auto;
    letter-spacing: .8px;
    color: #35311E;
    line-height: 1.6;
    padding: 0px 0px 30px;
}
.activities .activities_title{
    padding: 20px 0px 24px;
    border-bottom: 1px solid #fff;
    height: 100px;
}
.activities .activities_title span{
    font-size: 26px;
}
.activities-content .activities_menu{
    max-width:750px;
    margin: 0px auto 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.activities-content .activities_menu a{
    display: flex;
    width: 125px;
    height: 42px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 20px;
    background-color: #A7C398;
    color: #000;
    font-size: 18px;
}
.activities-content .activities_box{
    padding: 100px 0px 200px;
    position: relative;
}
.container .row .card{
    display: flex;
    flex-wrap: wrap;
    width: 800px;
}
.activities-content .activities_box .actv_information{
    width: 410px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding: 0px 20px;
}
.activities-content .activities_box .actv_information .actv_title{
    font-size: 28px;
}
.activities-content .activities_box .actv_information .actv_detail{
    margin: 10px 0px;
    gap: 20px;
    display: flex;
}
.activities-content .activities_box .actv_information .actv_detail span:nth-child(2){
    font-size: 22px;
    color: red;
}
.activities-content .activities_box .actv_information .actv_tag{
    display: flex;
    flex-wrap: wrap;
}
.locations-content .container .row .card_content .card_tag {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px 0px 16px;
}




.activities-content .activities_box .actv_information .actv_tag span{
    display: flex;
    width: 90px;
    height: 30px;
    justify-content: center;
    align-items: center;
    background-color: #CCDEA3;
    color: #5B5230;
    margin:4px 8px 4px 0px;
    padding: 4px;
    border-radius: 20px;
}
.activities-content .activities_box .actv_img{
    width: 380px;
    height: 350px;
    border-radius: 20px;
    overflow: hidden;
}
.activities-content .activities_box .actv_img img{
    width: 100%;
    vertical-align: middle;
}
.more_box {
    display: flex;
    flex-wrap: wrap;
    margin: 0px auto 250px;
    width: 100%;
    justify-content: space-between;
}
.more_box .more_img{
    width: 650px;
}
.more_box .more_img img{
    width: 100%;
    vertical-align: middle;
}
.more_box .more_information{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding: 50px 20px;
}
.more_box .more_information .more_title{
    font-size: 28px;
}
.more_box .more_information .more_text{
    font-size: 18px;
}
.more_box .more_information .more_detail{
    display: flex;
    margin: 10px 0px;
    gap: 30px;
}
.more_box .more_information .more_detail .more_category{
    display: flex;
    font-size: 20px;
    gap: 8px;
    align-items: center;
}
.more_box .more_information .more_detail .more_category .more_icon{
    display: flex;
    order: -1;
    font-size: 35px;
    color: #CCDEA3;
}
.sup_blk{
    width: 140px;
}
.color_blk{
    width: 100%;
    position: relative;
}
.color_blk .blk:nth-child(1){
    width: 450px;
    height: 400px;
    background-color: #ECFBCA;
    border-radius: 180px 0% 180px 0%;
    position: absolute;
    bottom: -70px;
    right: -25%;
    z-index: -1;
}
.color_blk .blk:nth-child(2){
    width: 450px;
    height: 400px;
    background-color: #CCDEA3;
    border-radius: 0% 0% 185px 0%;
    position: absolute;
    bottom: -140px;
    right: -52%;
    z-index: -2;
}
/* ------------------------------------------------------------- */
.actv_bgc{
    width: 100%;
    margin: auto;
    position: absolute;
    width: 630px;
    height: 630px;
    background-color: #ECFBCA;
    border-radius: 50%; 
    z-index: -2;
    bottom: 10%;
    left: 5%;
}
.actv_bgc .bgc_blk{
    width: 100%;
    height: 100%;
    position: relative;
}
.actv_bgc2{
    width: 100%;
    margin: auto;
    position: absolute;
    width: 580px;
    height: 580px;
    background-color: #ECFBCA;
    border-radius: 50%; 
    z-index: -2;
    bottom: 10%;
    right: 8%;
}
.actv_bgc2 .bgc_blk span{
    display: block;
    width: 330px;
    height: 330px;
    background-color: #ECFBCA;
    border-radius: 50%; 
    position: absolute;
    left: 65%;
    bottom: -8%;
}
.actv_bgc3{
    width: 100%;
    margin: auto;
    position: absolute;
    width: 550px;
    height: 550px;
    background-color: #FFE692;
    border-radius: 50%; 
    z-index: -2;
    bottom: 18%;
    left: 8%;
}