@media (width<=768px) {
    .content_price .price_container{display: none;}
    .price_container-phone .price_area{
        background-color: rgb(255 , 255 , 255, .65);
        border-radius: 40px;
        box-shadow: 1px 1px 50px 10px #00000020;
        padding: 25px 0px;
        margin: auto;
    }
    .price_container-phone .price_area .border{
        border: 2px solid #ECFBCA;
        border-radius: 1rem;
        
    }
    .price_container-phone .price_area .border .text{
        display: flex;
    }
    .price_container-phone .price_area .border .text .p{
        order: -1;
        align-self: flex-end;
    }

    .price_container-phone .price_area .border .text .category{
        order: -3;
        align-self: flex-start;
    }

    .price_container-phone .price_area .border .text .detail{
        order: -2;
        align-self: center;
        
    }

}
@media (width>768px) {
    .content_price .price_container-phone{display: none;}
    .content_price{
        margin: auto;
        max-width: 1200px;
        color: #35311E;
    }
    .content_price .price_container{
        width: 100%;
        margin: 200px auto 150px;
    }
    .content_price .price_container .price_area{
        background-color: rgb(255 , 255 , 255, .65);
        border-radius: 40px;
        box-shadow: 1px 1px 50px 10px #00000020;
        width: 800px;
        padding: 25px 0px;
        margin: auto;
        display: flex;
        justify-content: center;
    }
    .first{
        display: flex;
    }
    .second{
        display: flex;
        flex-wrap: wrap;
    }
    .price_area .container{
        width: 100%; 
    }
    .first .col-md-9{
        width: 100%;
    }
    .first .col-md-3{
        row-gap:36px;
        padding: 0px 0px 0px 40px;
        box-sizing: border-box;
    }
    .second .col-md-12{
        padding: 0px 20px 0px 20px;
        box-sizing: border-box;
    }
    [class*="col-md-"]{
        justify-content: center;
    }
    .first .border{
        display: flex;
        justify-content: center;
        border: 8px solid #D3E5C8;
        border-radius: 20px;
    }
    .first .border .text{
        display: flex;
        flex-direction: column;
        padding:18px;
        width: 160px;
        box-sizing: border-box;
        position: relative;
        height: 100%;
        justify-content: space-between;
    }
    .second .border{
        height: 120px;
    }
    .second .border .text{
        width: 150px;
        box-sizing: border-box;
        height: 100%;
    }
    .content_price .price_container .price_area .border:hover{
        border: 8px solid #4F7937;
        transition: all .2s ease-in;
    }
    .content_price .price_container .price_area .border .text:hover i{
        color: #4F7937;
        top: -3%;
        right: -3%;
        transition: all .2s ease-in;
    
    }
    .content_price .price_container .price_area .border .text:not(:hover) i{
        top: 5%;
        right: 4%;
        transition: all .2s ease-in;
    }
    .content_price .price_container .price_area .border .text .p .currency{
        font-size: 12px;
    }
    .content_price .price_container .price_area .border .text .p .price{
        font-size: 22px;
    }
    .content_price .price_container .price_area .border .text .category span{
        font-size: 26px;
    }
    .first .border .text .detail{
        padding: 10px 0px 10px;
    }
    .comment::before {
        content: "?";
    }
    .first .border .text .comment{
        width: 15px;
        height: 15px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: .5px solid #35311E;
        font-size: 12px;
        position: absolute;
        top: 40%;
        left: 65%;
    }
    .second .border .text .detail{
        padding: 0px;
    }
    .content_price .price_container .price_area .border .text i{
        color: #D3E5C8;
        font-size: 35px;
        rotate: -45deg;
        position: absolute;
        top: 5%;
        right: 4%;
    }
    .content_price .price_container .price_area .img{
        margin: auto;
        padding: 0px 20px;
        height: 255px;
        overflow: hidden;
        margin: 0px 0px 35px 0px;
        border-radius: 40px;
        box-sizing: border-box;
    }
    .price_bgc{
        width: 100%;
        position: relative;
    }
    .price_bgc .bgc_block1{
        position: absolute;
        width: 450px;
        height: 450px;
        background-color: #FFE692;
        border-radius: 50%; 
        z-index: -2;
        bottom: 225px;
        left: 0;
    }
    .price_bgc .bgc_block2{
        position: absolute;
        width: 630px;
        height: 630px;
        background-color: #ECFBCA;
        border-radius: 50%; 
        z-index: -1;
        top: -370px;
        right: 2%;
    }
    .price_bgc .bgc_block3{
        position: absolute;
        border-top:300px solid #00000000 ;
        border-left: 300px solid #00000000;
        border-bottom:300px solid #CDE0C2;
        border-right: 280px solid #CDE0C2;
        border-radius: 30px;
        z-index: -2;
        bottom: 25px;
        left: 5%;
    }
}