.content_activities{
    max-width: 1100px;
    margin: auto;
    padding: 100px 0px 100px 0px;
    color: #35311E;
}
.content_activities .activities_title{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto auto 50px auto;
}
.content_activities .activities_title h2{
    flex:block;
    font-size: 28px;
    margin: 0px 0px 20px;
}
.content_activities .activities_title span{
    flex:block;
    font-size: 18px;
    margin: 0px 0px 0px;
    font-weight:500;
}
.activities_container .container_box{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-between;
}
.activities_container .container_box .box{
    width: 245px;
    padding: 0px 10px;
}
.activities_container .container_box .box:hover .box_content .activities_icon i{
    color: #CEED88;
    transition: all .2s;
}
.activities_container .container_box .box:not(:hover) .box_content .activities_icon i{
    color:  #cfcfcf;
    transition: all .2s;
}
.activities_container .container_box .box .box_pic{
    border-radius: 17px;
    overflow: hidden;
}
.activities_container .container_box .box .box_pic  img{
    width: 100%;
    vertical-align: middle;
}
.activities_container .container_box .box .box_content{
    display: flex;
    flex-wrap: wrap;
}
.activities_container .container_box .box .box_content .activities_icon{
    font-size:35px;
    padding: 20px 10px;
}
.activities_container .container_box .box .box_content .activities_icon i{
    font-size:100%;
    rotate: -45deg;
    color:  #cfcfcf;
}
.activities_container .container_box .box .box_content .box_text{
    width: 170px;
    padding:25px 0px;
}
.activities_container .container_box .box .box_content .box_text span{
    font-size: 16px;
}