.content_map .map_container{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: 500px;
}
.content_map .map_container iframe{
    width: 600px;
    height: 450px;
    vertical-align: middle;
    width: 100%;
}
@media (width<=768px) {
    .content_map{
        margin: 50px auto;
        background-color: #A7C398;
        padding: 50px 0 0;
    }
    .content_map .map_container{
        max-width: 800px;
    }
    .content_map .map_menu-phone{
        text-align: center;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .content_map .map_menu-phone .dropbtn{
        background-color: #ECFBCA;
        color: #35311E;
        padding: 10px;
        border: none;
        cursor: pointer;
        width: 300px;
        font-size: 20px;
        position: relative;
        border-radius: .8em .8em 0 0;
    }
    .content_map .map_menu-phone .dropbtn .i{
        position: absolute;
        right: 1rem;
    }
    .content_map .map_menu-phone .dropdown-content{
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 300px;
        border-radius: 0 0 .8em .8em;
    }
    .content_map .map_menu-phone .dropdown-content div{
        color: #4F7937;
        text-decoration: none;
        display: block;
        margin: 15px auto;
    }
    .content_map .map_menu-phone .show{
        display: block;
    }
    .content_map .map_menu-phone .dropbtn .i{
        padding: 3px 0 0;
        transition: all .3s ease;}
    .content_map .map_menu-phone .dropbtn .rotate{
        rotate: 180deg;
        transition: all .5s ease;}
    .content_map .map_menu-desk{
        display: none;
    }
}
@media (width>768px) {
    .map_menu-phone{
        display: none;
    }
    .content_map{
        margin: auto;
        background-color: var(--nude-green);
        width: 100vw;
        padding: 50px 0 0;
        height: 100vh;
    }

    @media (width>1400px) {
        .content_map{
            height: 50vh;
            padding: 50px 0 0;
        }
    }
    .content_map .map_menu-desk{
        max-width:750px;
        margin: 0px auto 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .content_map .map_menu-desk .btn{
        display: flex;
        width: 125px;
        height: 42px;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border-radius: 20px;
        background-color: #fff;
        color: var(--dark-green);
        font-size: 18px;
        cursor: pointer;
    }
    #map_title{
        height: 400px;
        width: 100%;
        color: var(--black);
    }
    .content_map .map_title{
        margin:0px auto 10px;
    }
    .content_map .map_title ul{
        width: 750px;
        margin: auto;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .content_map .map_title ul li{
        margin: 10px 0;
    }
    .content_map .map_title ul li a{
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 22px;
        background-color: #A7C398;
        border-radius: 40px;
        padding:8px 20px;
        min-width: 100px;
        height: 30px; 
        font-weight: 400;
    }
    /* .content_map .map_container iframe{border-radius: 40px;} */
    .content_map .map_container {
        max-width: 1200px;
        border-radius: 40px;
    }
}