.content_feedback{
    line-height: 1.3;
    padding: 0px 0px 200px 0px;
    color: #35311E;
    max-width: 1200px;
}

@media (width<=768px) {
    .content_feedback{
        padding: 70px 0 20px;

    }
    .content_feedback .feedback_container{
        display: flex;
        /* gap: 20px; */
        overflow-x: auto;
        height: 400px;
    }
    .content_feedback .feedback_container .feedback_box{
        flex: 0 0  auto;
        align-items: center;
        justify-content: space-between; 
        overflow: hidden;
        width: 280px;
        border-radius: 35px 35px 0px 35px;
        margin: 0px 7px;
    }
}


@media (width>768px) {
    /*輪播*/
    

    .content_feedback .feedback_container{
        display: flex;
        gap: 20px;
        overflow-x: auto;
        height: 400px;
    }
    .content_feedback .feedback_container .feedback_box{
        flex: 0 0  auto;
        align-items: center;
        justify-content: space-between; 
        overflow: hidden;
        width: 280px;
        border-radius: 35px 35px 0px 35px;
        margin: 0px 7px;
    }
    
}
.content_feedback .feedback_container .feedback_box:nth-child(1){
    background-color: #80A76A;
    position: relative;
    height: 280px;
    top: 90px;
}
.content_feedback .feedback_container .feedback_box:nth-child(2){
    background-color: #CCDEA3;
    position: relative;
    height: 330px;
    top: 0px;
}
.content_feedback .feedback_container .feedback_box:nth-child(3){
    background-color: #F1BB00;
    position: relative;
    height: 280px;
    top: 90px;
}
.content_feedback .feedback_container .feedback_box:nth-child(4){
    background-color: #F5F8ED;
    position: relative;
    height: 250px;
    top: 50px;
}
.content_feedback .feedback_container .feedback_box:nth-child(5){
    position: relative;
    height: 280px;
    top: 0px;
    background-color: #d9ebde;
}
.content_feedback .feedback_container .feedback_box:nth-child(6){
    background-color: #CCDEA3;
    position: relative;
    height: 280px;
    top: 0px;
    top: 40px;
}
.content_feedback .feedback_container .feedback_box .content{
    text-align: center;
    padding: 20px 0 0;
}
.content_feedback .feedback_container .feedback_box .content i{
    font-size: 30px;
    margin-right: 60%;
}
.content_feedback .feedback_container .feedback_box .content .msg{
    margin: -12px 0 0;
}
.content_feedback .feedback_container .feedback_box .content .msg p{
    white-space: pre-line;
}
.content_feedback .feedback_container .feedback_box .content .msg .em{
    font-size: 28px;
    font-weight: 600;
}
.content_feedback .feedback_container .feedback_box .content .info{
    padding: 15px 0 8px;
}
.content_feedback .feedback_container .feedback_box .content .info .pic{
    margin: auto;
    width: 65px;
    border-radius: 50%;
    overflow: hidden;
}
.content_feedback .feedback_container .feedback_box .content .info .pic img{
    transform: scale(1.2);
}
.content_feedback .feedback_container .feedback_box .content .info .name{
    padding: 5px 0 0;
    font-size: 18px;
}