.content_map{
    max-width: 1200px;
    margin: auto;
}

.content_map .map_menu{
    max-width:750px;
    margin: 0px auto 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.content_map .map_menu a{
    display: flex;
    width: 125px;
    height: 42px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 20px;
    background-color: #A7C398;
    color: #fff;
    font-size: 18px;
}

.content_map .map_title{
    margin:0px auto 10px;
}
.content_map .map_title ul{
    width: 750px;
    margin: auto;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.content_map .map_title ul li{
    margin: 10px 0;
}
.content_map .map_title ul li a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 22px;
    background-color: #A7C398;
    border-radius: 40px;
    padding:8px 20px;
    min-width: 100px;
    height: 30px; 
    font-weight: 400;
}
.content_map .map_container{
    width: 800px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.content_map .map_container iframe{
    width: 600px;
    height: 450px;
    vertical-align: middle;
    width: 100%;
    border-radius: 40px;
}