*{
    margin: 0;
    padding: 0;
}
.footer{
    width: 100%;
    background-color: #c6a9a9;
    color: #fff;
    font-family:'Noto Sans TC','sans-serif';
    font-weight: 400;
    padding: 20px 0px 0px 0px;
    
}
.footer .information{
    display: flex;
    border-radius: 22px 22px 0px 0px;
    background-color: #4F7937;
    width: 1200px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px 20px 0px 20px;
    padding: 120px 0px 10px 0px;
}
.footer .information .office-information{
    display: flex;
    flex-direction: column;
    width: 319px;
    /* border: 1px solid black; */
}
.footer .information .office-information span{
    padding: 5px 0px 5px 0px;
    font-size: 18px;
}

.footer .information .dictionary{
    display: flex;
    flex-direction: column;
    /* width: 347px; */
    justify-content: space-around;
    flex-wrap: wrap;
    /* border: 1px solid rgb(154, 154, 154); */
  
}
.footer .information .dictionary ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 347px;
    height: 150px;
    list-style: none;
    padding: 0px 10px 0px 10px;
    /* background-color: #5a5858; */    
}

.footer .information .dictionary li{
    list-style: none;
    display: flex; 
    padding: 5px 0px 5px 0px;
    font-size: 18px;
    /* line-height: 16px; */
}
.footer .information .dictionary a{
    text-decoration: none;
    color: #4F7937;

}


.footer .information .logo-area{
    display: flex;
    justify-content: center;
    width: 226px;
    flex-wrap: wrap;
    /* border: 1px solid black; */
    padding: 20px 0px 20px 0px;

}
.footer .information .logo-area .brand-logo{
    width: 150px;
    height: 62px;
}
.footer .information .logo-area .brand-logo img{
    width: 100%;
    vertical-align: middle;
}

.footer .information .logo-area .socail-media{
    
}
.footer .information .logo-area .socail-media img:nth-child(1){
}

.footer .information .copyright{
    /* border: 1px solid black; */
    padding: 30px 0px 20px 0px;

}
.footer .information .copyright span{
    text-align: center;
    font-size: 15px;
    line-height: 16px;
}