.header_banner .banner_container .banner_content a .animate_text{
    display: inline-block;
    margin: 0 -2.5px;
}
@media (width>=0px) {
    .header_inner .header_main_nav .book-btn{
        padding: 0px 60px 0px 0px;
    } 
}
/* ---------------------------------------------------- */
@media (width<=768px) {
    body.unscroll {
        overflow: hidden;
    }
    header{
        max-width: 768px;
        position: relative;
        margin: auto;
        z-index: 2;
    }
    .header_inner{
        z-index: 1;
        position: absolute;
        top:0;
        width: 100%;
        margin:auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .header_inner .header_logo{
        max-width: 180px;
        margin-right:auto;
        padding: 22px 0px 20px 22px;
        z-index: 3;
    } 
    .header_inner .header_main_nav{
        padding: 20px 15px;
    }
    .header_inner .header_main_nav .header_nav{
        display: flex;
        /* justify-content: space-between; */
        align-items: center;
        padding: 10px;
        position: relative;
        overflow: hidden;
    }   
    .header_main_nav .header_nav .ham{
        order: 1;
        z-index: 6;
    }
    .header_main_nav .header_nav .ham .bar{
        display: block;
        width: 35px;
        height: 3px;
        background-color: #fff;
        margin: 6px 0px;
        border-radius: 16px;
    }
    .header_inner .header_main_nav .header_nav .menu-items{
        width: 100%;
        list-style: none;
        gap: 16px;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #4F7937;
        transition: all 0.3s ease;
        height: 100%;
        display: none;
    }
    .header_inner .header_main_nav .header_nav .menu-items.show{
        display: block;
    }
    .header_inner .header_main_nav .header_nav li{
        margin: 30px auto;
    }
    .header_inner .header_main_nav .header_nav li:first-child{
        padding: 100px 0 0;
    }
    .header_inner .header_main_nav .header_nav li a{
        text-decoration: none;
        color: #fff;
        font-size: 30px;
        padding: 0 40px;
        opacity: 0;
        transition:all 1s ease;
    }
    .header_inner .header_main_nav .header_nav .menu-items.show a{
        opacity: 1;
    }
    .header_inner .header_main_nav .book-btn a{
        text-decoration: none;
        text-align: center;
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        border-radius: 28px;
        background-color: rgba(255, 255, 255, 0.2); 
        padding: 14px 16px;
        margin: auto auto auto 16px;
        transition: all .2s ease-in;
        display: none;
    }
    .header_inner .header_main_nav .book-btn a:hover{
        background-color: #FDD340;
        color: #35311E;
        font-weight: 600;
    }
    .header_inner .header_main_nav .book-btn a:not(:hover){
        background-color: rgba(255, 255, 255, 0.2); 
        color: #fff;
        font-weight: 500;
    }
    .header_banner{
        position: relative;
        height: 100vh;
    }
    .header_banner img{
        height: 100%;
        object-fit: cover;
    }
    .header_banner .desktop{display: none;}
    .header_banner .banner_container{
        position: absolute;
        bottom:14%;
        left: 5.5%;
    }
    .header_banner .banner_container .banner_content h1{
        color: #fff;
        font-size: 2.1875em;
        font-weight: 600;
        text-shadow: #35311E 3px 4px 7px;
        letter-spacing: 2px; 
    }
    .header_banner .banner_container .banner_content a{
        color: #fff;
        border: 2px solid #fff;
        border-radius: 12px;
        padding: 1px 6px 3px 6px;
        font-size: 28px;
        transition: all .2s ease-in;    
    }
}
/* ---------------------------------------------------- */
@media (width>768px) {
    header{
        position: relative;
        margin: auto;  
    }
    .header_inner{
        width: 100%;
        z-index: 1;
        position:absolute;
        top:0;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .header_inner .header_logo{
        max-width: 333px;
        margin-right:auto;
        padding: 22px 0px 20px 70px;
    } 
    .header_inner .header_logo img{
        width: 100%;
        vertical-align: middle;
    }
    .header_inner .header_main_nav{
        display: flex;
        flex-wrap: wrap;
    }
    .header_inner .header_main_nav .header_nav{
        display: flex;
    }
    .header_inner .header_main_nav .header_nav ul{
        list-style: none;
        gap: 16px;
        display: flex;
    }
    .header_inner .header_main_nav .header_nav li{
        margin: auto;
        padding: 0px 20px 0px 0px;
    }
    .header_inner .header_main_nav .header_nav li a{
        text-decoration: none;
        color: aliceblue;
        font-size: 17px;
        font-weight: 500;
        position: relative;
    }
    .header_inner .header_main_nav .header_nav li a::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 0%;
        height: 2px;
        background-color: #ffffff;
        opacity: 0;
        transition: width .3s ease-in-out; 
    }
    .header_inner .header_main_nav .header_nav li a:hover::after {
        opacity: 1;
        width: 100%;
        translate: 0px 0px;
        left: 0;
    }
    .header_inner .header_main_nav .header_nav li a:not(:hover)::after {
        opacity: 1;
        width: 0;
        translate: 65px 0px;
        transition: all .3s ease-in-out; 
    }
    .header_inner .header_main_nav .book-btn{
        margin: auto;
    }
    .header_inner .header_main_nav .book-btn a{
        text-decoration: none;
        text-align: center;
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        border-radius: 28px;
        background-color: rgba(255, 255, 255, 0.2); 
        padding: 14px 16px;
        margin: auto auto auto 16px;
        transition: all .2s ease-in;
    }
    .header_inner .header_main_nav .book-btn a:hover{
        background-color: #FDD340;
        color: #35311E;
        font-weight: 600;
    }
    .header_inner .header_main_nav .book-btn a:not(:hover){
        background-color: rgba(255, 255, 255, 0.2); 
        color: #fff;
        font-weight: 500;
        transition: all .3s;
    }
    .header_banner{
        position: relative;
        border-radius: 0;
        overflow: hidden;
        height: 100vh;
        width: 100vw;
    }
    .header_banner img{
        height: 100%;
        object-fit: cover;
        margin: 0 auto;
        filter: brightness(90%);
    }
    .header_banner .phone{
        display: none;
    }
    .header_banner .banner_container{
        position: absolute;
        top: 37%;
        left: 15%;
    }
    .header_banner .banner_container .banner_content h1{
        color: #fff;
        font-size: 58px;
        font-weight: 600;
        text-shadow: #35311E 3px 4px 7px;
        letter-spacing: 2px; 
    }
    .header_banner .banner_container .banner_content span{
        opacity: 0;
        transition: opacity 1s ease-in-out;
    }   
    .header_banner .banner_container .banner_content a{
        color: #fff;
        border: 2px solid #fff;
        border-radius: 40px;
        padding: 3px 16px 6px 16px;
        font-size: 22px;
        opacity: 0;
        transition: opacity 1s ease-in-out,  background-color .2s ease-in, color .2s ease-in;
    }

    .header_banner .banner_container .banner_content a:hover{
        background-color: #fff;
        color: var(--dark-green);
        translate:(20,20);
    }
    .header_banner .banner_container .banner_content a:hover .animate_text:nth-of-type(1){
        animation: dance 1s linear infinite;
    }
    .header_banner .banner_container .banner_content a:hover .animate_text:nth-of-type(2){
        animation: dance 1s linear infinite;
        animation-delay: .2s; 
    }
    .header_banner .banner_container .banner_content a:hover .animate_text:nth-of-type(3){
        animation: dance 1s linear infinite;
        animation-delay: .4s; 
    }
    .header_banner .banner_container .banner_content a:hover .animate_text:nth-of-type(4){ 
        animation: dance 1s linear infinite;
        animation-delay: 0.6s; 
    }
    @keyframes dance {
        0% {
            transform: translateY(0);
        }
        10%{
            transform: translateY(-1px);
        }
        35%{
            transform: translateY(-3px);
        }
        75%{
            transform: translateY(2px);
        }
        100%{
            transform: translateY(0);
        }
    }
}
/* ---------------------------------------------------- */
@media (width>=1400px) {
    .header_inner .header_main_nav .book-btn{
        margin: auto;
        padding: 0px 45px 0px 15px;
    } 
}

/* ---------------------------------------------------- */
