.header{
    max-width: 1920px;
    position: relative;
    margin: auto;
    /* background-color: #555; */
}
.header .header_inner{
    width: 100%;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.header .header_inner .header_logo{
    max-width: 333px;
    margin-right:auto;
    padding: 22px 0px 20px 70px;
}

.header .header_inner .header_logo img{
    width: 100%;
    vertical-align: middle;
}
.header .header_inner .header_main_nav{
    display: flex;
    flex-wrap: wrap;
}
.header .header_inner .header_main_nav .header_nav{
    display: flex;
}
.header .header_inner .header_main_nav .header_nav ul{
    list-style: none;
    display: flex;
    gap: 16px;
}
.header .header_inner .header_main_nav .header_nav li{
    margin: auto;
    padding: 0px 20px 0px 0px;
}
.header .header_inner .header_main_nav .header_nav li a{
    text-decoration: none;
    color: #4F7937;
    font-size: 17px;
    font-weight: 500;
    position: relative;
}
.header .header_inner .header_main_nav .header_nav li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 1.5px;
    background-color: #4F7937;
    opacity: 0;
    transition: width .3s ease-in-out; 
}
.header .header_inner .header_main_nav .header_nav li a:hover::after {
    opacity: 1;
    width: 100%;
    translate: 0px 0px;
    left: 0;
}
.header .header_inner .header_main_nav .header_nav li a:not(:hover)::after {
    opacity: 1;
    width: 0;
    translate: 65px 0px;
    transition: all .3s ease-in-out; 
}
.header .header_inner .header_main_nav .book-btn{
    margin: auto;
    padding: 0px 60px 0px 0px;
}
.header .header_inner .header_main_nav .book-btn a{
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    border-radius: 28px;
    background-color: #4F7937; 
    padding: 14px 16px;
    margin: auto auto auto 16px;
    transition: all .2s ease-in;
}
.header .header_inner .header_main_nav .book-btn a:hover{
    background-color: #FDD340;
    color: #4F7937;
    font-weight: 600;
}
.header .header_inner .header_main_nav .book-btn a:not(:hover){
    background-color: #4F7937;
    color: #fff;
    font-weight: 500;
    transition: all .3s;
}