::selection{
    background-color: #F1BB00;
}
::-moz-selection {
    background-color: #F1BB00; 
}
::-webkit-scrollbar {
    display: none; 
}       
html, body{
    scroll-behavior: smooth;
    font-family:'Noto Sans TC','sans-serif';
    letter-spacing: 1px;
    --dark-green:#4F7937;
    --black:#35311E;
    --red:rgb(255, 138, 138);
    --nude-green:#A7C398;
    --light-green:#CCDEA3;
    --light-brown:#5B5230;
    --nude-orange:#FFE692;
}
a{text-decoration: none;}
img{
    width: 100%;
    vertical-align: middle;
}
ul{list-style: none;}
i{font-size: 100%;}
