::selection{
    background-color: #F1BB00;
}
::-moz-selection {
    background-color: #F1BB00; 
}
::-webkit-scrollbar {
    display: none; 
}       
html, body{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
